<section class="carousel-wrap">
  <div class="carousel">
    {% for img in imgs %}
      <div
        class="carousel-cell {{ "img-background" if bgColor and not img.noBg }}"
        {% if bgColor and not img.noBg %}
          style="background-color: {{ bgColor }}"
        {% endif %}
      >
        {% responsiveImage img.src, img.alt if img.alt else title, "80vw" if bgColor and not img.noBg else "100vw", "data-flickity-lazyload-" %}
      </div>
    {% endfor %}
  </div>
  
  <div class="description">
    {{ content | safe }}
  </div>
  
  <div class="data">
    <div class="caption"><p></p></div>
    <div class="number"><p></p></div>
  </div>
</section>
