<section class=iframe-wrap>
  <iframe src="{{ projectUrl }}" title="{{ title }}">
    <p>{{ projectUrl }}</p>
  </iframe>

  <div class="description website-description">
    <button class="toggle"></button>
    <div class="words">{{ content | safe }}</div>
  </div>
</section>