<section class=iframe-wrap>
  <div class="iframe-outer">
    <iframe src="{{ projectUrl }}" title="{{ title }}">
      <p>{{ projectUrl }}</p>
    </iframe>
  </div>

  <div class="description web">
    {{ content | safe }}
  </div>
</section>
