---
title: "Page Not Found"
layout: info.layout
permalink: 404.html
---

<article class="info-content">
  <h2>Sorry, page not found.</h2>
  <h2>Why not look in <a href="/projects/" title="Projects">Projects</a>?</h2>
</article>

{% include '_footer.njk' %}
